bs4==0.0.2
beautifulsoup4==4.12.3
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
pydantic==2.8.2
python-dotenv==1.0.1
Requests==2.32.3
uvicorn==0.30.5
fastapi==0.111.1
gradio==4.40.0
gradio-client==1.2.0
huggingface-hub==0.24.0
fastapi==0.111.1
faiss-cpu
gradio==4.40.0
gradio-client==1.2.0
huggingface-hub==0.24.0
httpx==0.27.0
numpy==1.26.4
openai==1.35.14
pandas==2.2.2
pydantic==2.8.2
pydantic-core==2.20.1
requests==2.32.3
sentence-transformers==3.0.1
starlette==0.37.2
threadpoolctl==3.5.0
transformers==4.43.3
typing-extensions==4.8.0
nest_asyncio